@page
@model IndexModel

<partial name="_Notification" />
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">   
    <h1>
    <span class="top-list-article__intro-title-top">Popular</span>
    <span class="top-list-article__intro-title-middle">Apples</span>
    <span class="top-list-article__intro-title-bottom">in the World</span>
    </h1>
    <i class="plate-lines plate-lines--center plate-lines--biggest"></i>
  
    <div class="top-list-article__intro-summary">
    <div class="top-list-article__intro-summary-timestamp">
        Last update: Sun Sep 4 2022
    </div>
  
    <img  src="https://cdn.tasteatlas.com//images/ingredients/c5d2a872328f406789602786e078def2.jpg?mw=1300" alt="Apples in the World" />
    </div>
</div>
